{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %} {% trans "Posts" %} {% endblock title %}

{% block content %}

<h3 class="content-subhead">
  {% trans "Filtered" %} {{ filter.qs|length }} {% trans "posts on query" %}:
  <span>{{ name }}</span>
</h3>

{% if name.id %}
    {% if is_subscribed %}
        <div class="subscribe">
          <strong>
            {% trans "You are already subscribed to" %} <em>{{ name }}</em>. {% trans "Unsubscribe?" %}
            {% if subscription_object == 'category_subscription' %}
                  </strong>
                  <a href="{% url 'news:unsub_cat' name.id %}">
                    <button class="pure-button button-success" style="border-radius: 15px">
                      <i class="bi bi-bookmark-plus"></i>
                      {% trans "Unsubscribe" %}
                    </button>
                  </a>
            {% endif %}
            {% if subscription_object == 'author_subscription' %}
                    </strong>
                    <a href="{% url 'news:unsub_author' name.id %}">
                    <button class="pure-button button-success" style="border-radius: 15px">
                      <i class="bi bi-bookmark-plus"></i>
                      {% trans "Unsubscribe" %}
                    </button>
                  </a>
            {% endif %}
        </div>
    {% else %}
        <div class="subscribe">
          <strong>
            {% trans "Do you want to subscribe to" %} <em>{{ name }}</em>?
            {% if subscription_object == 'category_subscription' %}
                  </strong>
                  <a href="{% url 'news:sub_cat' name.id %}">
                    <button class="pure-button button-success" style="border-radius: 15px">
                      <i class="bi bi-bookmark-plus"></i>
                      {% trans "Subscribe" %}
                    </button>
                  </a>
            {% endif %}
            {% if subscription_object == 'author_subscription' %}
                    </strong>
                    <a href="{% url 'news:sub_author' name.id %}">
                    <button class="pure-button button-success" style="border-radius: 15px">
                      <i class="bi bi-bookmark-plus"></i>
                      {% trans "Subscribe" %}
                    </button>
                  </a>
            {% endif %}
        </div>
    {% endif %}
{% endif %}


{% if posts %}
    {% for post in posts %}

    <!--  A single blog post -->
    <section class="post">
      <header class="post-header"> <!--  <img class="post-avatar" src="/{{  post.author.avatar }}" alt="avatar" /> -->
        <a href="{% url 'news:post_detail' post.id %}">
          <h2 class="post-title">{{post.title|censor}}</h2>
        </a>
        <p class="post-meta">{% trans "Post by" %}
          <a class="post-author" href="{% url 'news:author_name' post.author_id %}">
            {{ post.author }}</a>,
          {% trans "published on" %}
          <em>{{ post.time_pub|date:'d M Y H:i' }}
          </em>
    <!--      Type:-->
    <!--      <a class="post-category post-type-{{post.type}}" href="{% url 'news:post_type' post.type %}">-->
    <!--        <span>-->
    <!--          {{post.get_type_display}}-->
    <!--        </span>-->
    <!--      </a>-->
          {% trans "Categories" %}:
          {% for cat in post.cats.values %}
              <a href="{% url 'news:post_tag' cat.id %}">
                  {{ cat.cat_name }}</a> :
              <a></a>
          {%endfor%}
        </p>
      </header>
      <div class="post-description">
        <p>{{ post.body|censor | truncatewords:25 }}</p>
        <p><em>{% trans "Post rating" %}: {{post.rating}} </em></p>
      </div>
    </section>
    <hr />

    {%endfor%}
{% else %}
    <h2>{% trans "There are no posts" %}!</h2>
{% endif %}

<hr>

{% endblock content %}
