<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}
{% trans "Post" %}
{% endblock title %}

{% block content %}
<h2>{{ post.title|censor }}</h2
<h3>{{ post.body|censor }}</h3>
<h4>{% trans "Published on" %}: {{ post.time_pub|date:'d M Y H:i' }}</h4>
<h5>By: {{ post.author }}</h5>
<h6>{% trans "Categories" %}: {% for cat in post.cats.all %} {{ cat }} : {% endfor %}</h6>
<hr>
<h4>{% trans "Comments" %}:</h4>

<hr>
{% if post.comment_set.all|length > 0 %}

    {% for comment in post.comment_set.all  %}

        {{ comment.user.username }} {% trans "wrote" %}: {{ comment.body|censor }}
        on: {{ comment.time_pub }} {% trans "The rating of the comment is" %} {{ comment.rating }}.

        <hr><br>

    {% endfor %}
{% else %}
    {% trans "No comments" %}!

{% endif %}

{% endblock content %}
