{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block content %}

    <h1>Search</h1>

<h1> {{ time_now|date:'d F Y, H:i' }} UTC time</h1>

    <hr>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

    <hr>

{% if posts %}
<h3>
    {% if filterset.qs|length > 1 %}
      {{ filterset.qs|length }} posts found:
    {% elif filterset.qs|length == 1 %}
      Only 1 post found
    {% elif filterset.qs|length == 0 %}
      No posts found!
    {% endif %}
</h3>
<hr>

<table border="1" width="100%" cellpadding="5" rules="3">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Preview</th>
            <th>Category</th>
            <th>Rating</th>
        </tr>
{% for post in posts %}
        <tr>
                <td><a href="{% url 'news:author_name' post.author_id %}">{{ post.author }}</td>
                <td><a href="{% url 'news:post_detail' post.id %}"><class="post-title">{{ post.title|censor }}</td>
                <td>{{ post.time_pub|date:'d M Y H:i' }}</td>
                <td>{{ post.body|truncatechars:30|censor }}</td>
                <td>{% for cat in post.cats.all %}
                    <a href="{% url 'news:post_tag' cat.id %}">
                        {{ cat }}</a> :
                        <a></a>
                    {% endfor %}</td>
                <td>{{ post.rating }}</td>
        </tr>
{% endfor %}
</table>
{% else %}
    <h2>Nothing found!</h2>
{% endif %}
    <hr>


<nav aria-label="Page navigation">   <ul class="pagination">
{% if page_obj.has_previous %}
<li class="page-item">
  <a class="page-link" href="?{% url_replace page=1 %}" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">First</span>
  </a>
</li>   {% endif %}

{% for n in page_obj.paginator.page_range %}
  {% if page_obj.number == n %}
    <li class="page-item active">
      <span class="page-link">{{ n }}<span class="sr-only"> (this page)</span></span>
    </li>
  {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?{% url_replace page=n %}">{{ n }}</a></li>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <li class="page-item">
    <a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Last</span>
    </a>
  </li>
  {% endif %}   </ul> </nav>

{% endblock content %}