<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h2>{{ post.title|censor }}</h2
<h3>{{ post.body|censor }}</h3>
<h4>Published on: {{ post.time_pub|date:'d M Y H:i' }}</h4>
<h5>By: {{ post.author }}</h5>
<h6>Categories: {% for cat in post.cats.all %} {{ cat }} : {% endfor %}</h6>
<hr>
<h4>Comments:</h4>

<hr>
{% if post.comment_set.all|length > 0 %}

    {% for comment in post.comment_set.all  %}

        {{ comment.user.username }} wrote: {{ comment.body|censor }}
        on: {{ comment.time_pub }} The rating of the comment is {{ comment.rating }}.

        <hr><br>

    {% endfor %}
{% else %}
    No comments!

{% endif %}

{% endblock content %}
