<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}


<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
<h1>There are {{ posts|length }} News</h1>

<hr>
{% if posts %}
    <table>
        <tr>
            <td>Title</td>
            <td>Date</td>
            <td>Preview</td>
            <td>Category</td>
            <td>Rating</td>
        </tr>

        {% for post in posts %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.time_pub|date:'d M Y' }}</td>
                <td>{{ post.body|truncatechars:20|censor }}</td>
                <td>{% for cat in post.cats.all %} {{ cat }} {% endfor %}</td>
                <td>{{ post.rating }}</td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <h2>There are no news!</h2>
{% endif %}
{% endblock content %}