<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет Posts -->
{% block title %}
    <h1>Posts</h1>
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
<h1> {{ time_now|date:'d F Y, H:i' }} UTC time</h1>

<h1>
    {% if qs_len > 1 %}
      There are {{ qs_len }} posts in the DB
    {% elif qs_len == 1 %}
      There is only 1 post in the DB
    {% elif qs_len == 0 %}
      There are no posts in the DB
    {% endif %}

</h1>

<!--   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}-->
<!--   <form action="" method="get">-->
<!--       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
<!--       {{ filterset.form.as_p }}-->
<!--       {# Добавим кнопку отправки данных формы #}-->
<!--       <input type="submit" value="Найти" />-->
<!--   </form>-->

<hr>
{% if posts %}
    <table border="1" width="100%" cellpadding="5">
      <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Preview</th>
            <th>Category</th>
            <th>Rating</th>
            <th># of comments</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ post.get_absolute_url }}">{{ post.title|censor }}</td>
                <td>{{ post.time_pub|date:'d M Y' }}</td>
                <td>{{ post.body|truncatechars:30|censor }}</td>
                <td>{% for cat in post.cats.all %} {{ cat }} {% endfor %}</td>
                <td>{{ post.rating }}</td>
                <td>{{ post.comment_set.all|length }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% else %}
    <h2>There are no news!</h2>
{% endif %}


   {# Добавляем пагинацию на страницу #}

     <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="?{% url_replace page=1 %}" tabindex="-1">FIRST</a>
            </li>
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?{% url_replace page=page_obj.previous_page_number %}{% endif %} " tabindex="-1">Previous</a>
            </li>

            {% if page_obj.number|add:'-4' > 1 %}
                <li class="page-item disabled"><a class="page-link" href="?{% url_replace page=page_obj.number|add:'-5' %}">&hellip;</a></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active page-item disabled"><a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li class="page-item disabled"><a class="page-link" href="?{% url_replace page=page_obj.number|add:'5' %}">&hellip;</a></li>
            {% endif %}

            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %} ?{% url_replace page=page_obj.next_page_number %} {% endif %}">Next</a>
            </li>
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %} ?{% url_replace page=page_obj.paginator.num_pages %}  {% endif %}">LAST</a>
            </li>
        </ul>
    </nav>

<!--ОЧЕНЬ КРАСИВЫЙ РАБОЧИЙ ВАРИАНТ-->

<!--<nav aria-label="Page navigation">   <ul class="pagination">-->
<!--{% if page_obj.has_previous %}-->
<!--<li class="page-item">-->
<!--  <a class="page-link" href="?page=1" aria-label="Previous">-->
<!--    <span aria-hidden="true">&laquo;</span>-->
<!--    <span class="sr-only">begin</span>-->
<!--  </a>-->
<!--</li>   {% endif %}-->

<!--{% for n in page_obj.paginator.page_range %}-->
<!--  {% if page_obj.number == n %}-->
<!--    <li class="page-item active">-->
<!--      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>-->
<!--    </li>-->
<!--  {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}-->
<!--    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>-->
<!--  {% endif %}-->
<!--{% endfor %}-->

<!--{% if page_obj.has_next %}-->
<!--  <li class="page-item">-->
<!--    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">-->
<!--      <span aria-hidden="true">&raquo;</span>-->
<!--      <span class="sr-only">end</span>-->
<!--    </a>-->
<!--  </li>-->
<!--  {% endif %}   </ul> </nav>-->


<!--КАК ДАНО В МОДУЛЕ-->

<!--{% if is_paginated %}-->
<!--   {# Информация о предыдущих страницах #}-->
<!--   {% if page_obj.has_previous %}-->
<!--       <a href="?{% url_replace page=1 %}">1</a>-->
<!--       {% if page_obj.previous_page_number != 1 %}-->
<!--           ...-->
<!--           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>-->
<!--       {% endif %}-->
<!--   {% endif %}-->

<!--   {# Информация о текущей странице #}-->
<!--   {{ page_obj.number }}-->

<!--   {# Информация о следующих страницах #}-->
<!--   {% if page_obj.has_next %}-->
<!--       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>-->
<!--       {% if paginator.num_pages != page_obj.next_page_number %}-->
<!--           ...-->
<!--           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>-->
<!--       {% endif %}-->
<!--   {% endif %}-->
<!--{% endif %}-->

{% endblock content %}
