<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Digest</title>
</head>

<body>
  <h1>News Portal weekly digest</h1>
  {% for category in category_object %}
      <p>There are new posts</p>
      <p>in category: <strong>"{{ category }}"</strong></p>
      {% for post in post_object %}
          {% for cat in post.cats.all %}
              {% if cat == category %}
                  <a href="https://newsportal.com{% url 'news:post_detail' post.id %}">
                    <h2>{{ post.title }}</h2>
                  </a>
                  <p>by {{ post.author }}</p>
                  <p>{{ post.email_preview }}</p>
              {% endif %}
          {% endfor %}
      {% endfor %}
  {% endfor %}
</body>

</html>
